
section.headContent
  h2.hidden="Information principale"
  p.headContent__slogan
    | Recevez des soins de
    span.headContent__bold  qualité
    |  par des experts médicaux
    span.headContent__bold  accessible

  div.headContent__cards
    div.headContent__cardsContact
      p.cards__title="Centre de santé d'angleur"
      ul.cards__list
        li.cards__element
          a.cards__link(href="https://www.google.be/maps/place/Rue+Vaudr%C3%A9e+48,+4031+Li%C3%A8ge/@50.6127477,5.5951963,17z/data=!3m1!4b1!4m5!3m4!1s0x47c0f746b29cb281:0x69612a0f1477f0cc!8m2!3d50.6127443!4d5.597385?hl=fr", title="Voir l'adresse sur google maps")
            span.cards__label.cards__label--adress="Adresse : "
            span.cards__info="48, Rue du vaudrée 4031 Angleur"
        li.cards__element
          a.cards__link(href="tel:0494344737", title="Téléphoner à la maison médicale")
            span.cards__label.cards__label--tel="Téléphone : "
            span.cards__info="04 94 34 47 37"
        li.cards__element
          a.cards__link(href="fax:043434737", title="Nous envoyer un fax!")
            span.cards__label.cards__label--fax="Fax : "
            span.cards__info="04 94 34 47 37"
        li.cards__element
          a.cards__link(href="mailto:contact@csiangleur.be", title="Nous envoyer un email")
            span.cards__label.cards__label--email="Email : "
            span.cards__info="contact@csiangleur.be"
    div.cardsScheldule
      p.cards__title.cards__title--horaire="Horaires d'ouverture"
      ul.cards__list
        li.table__element
          span.table__day="Lundi "
          span.table__info="8.00 - 20.00 / 9.00 - 19h (férié)"
        li.table__element
          span.table__day="Mardi "
          span.table__info="8.00 - 20.00 / 9.00 - 19h (férié)"
        li.table__element
          span.table__day="Mercredi "
          span.table__info="8.00 - 20.00 / 9.00 - 19h (férié)"
        li.table__element
          span.table__day="Jeudi "
          span.table__info="8.00 - 20.00 / 9.00 - 19h (férié)"
        li.table__element
          span.table__day="Vendredi "
          span.table__info="8.00 - 20.00 / 9.00 - 19h (férié)"
        li.table__element
          span.table__day="Sam - Dim "
          span.table__info="8.00 - 20.00 / 9.00 - 19h (férié)"
