
section.headContent
  h2.hidden="Information principale"
  p.headContent__slogan
    | Recevez des soins de
    span.headContent__bold  qualité
    | par des experts médicaux
    span.headContent__bold  accessible

  div.headContent__cards
    div.headContent__cardsContact
      p.cards__title="Centre de santé d'angleur"
      ul.cards__list
        li.cards__element
          a.cards__link(href="googlemaps", title="Voir l'adresse sur google maps")
            span.cards__label.cards__label--adress="Adresse : "
            span.cards__info="48, Rue du vaudrée 4031 Angleur"
        li.cards__element
          a.cards__link(href="tel:0494344737", title="Téléphoner à la maison médicale")
            span.cards__label.cards__label--tel="Téléphone : "
            span.cards__info="04 94 34 47 37"
        li.cards__element
          a.cards__link(href="fax:043434737", title="Nous envoyer un fax!")
            span.cards__label.cards__label--fax="Fax : "
            span.cards__info="04 94 34 47 37"
        li.cards__element
          a.cards__link(href="mailto:contact@csiangleur.be", title="Nous envoyer un email")
            span.cards__label.cards__label--email="Email : "
            span.cards__info="contact@csiangleur.be"
    div.cardsScheldule
      p.cars__title="Horaires d'ouverture"
      ul.cards__table
        li.table__element
          span.table__day="Lundi "
          span.table__info="8.00 - 20.00 sauf férié 9.00 - 19h"
        li.table__element
          span.table__day="Mardi "
          span.table__info="8.00 - 20.00 sauf férié 9.00 - 19h"
        li.table__element
          span.table__day="Mercredi "
          span.table__info="8.00 - 20.00 sauf férié 9.00 - 19h"
        li.table__element
          span.table__day="Jeudi "
          span.table__info="8.00 - 20.00 sauf férié 9.00 - 19h"
        li.table__element
          span.table__day="Vendredi "
          span.table__info="8.00 - 20.00 sauf férié 9.00 - 19h"
        li.table__element
          span.table__day="Sam - Dim "
          span.table__info="8.00 - 20.00 sauf férié 9.00 - 19h"
